---
import Layout from "../layouts/Layout.astro";

import SideCharacter from "../components/SideCharacter.astro";
---

<Layout title="Jumex Hydrolit - Inicio" currentPage="/">
	<div class="h-full relative">
		<SideCharacter position="right" />
	</div>
</Layout>
