---
import CharacterImage from "./CharacterImage.astro";

interface Props {
	position: "left" | "right";
}

const { position } = Astro.props;
---

<div
	class:list={[
		"hidden lg:absolute bottom-0 inset-y-0 pointer-events-none z-80 lg:flex flex-col justify-end",
		{
			"left-0": position === "left",
			"right-0": position === "right",
		},
	]}
>
	<!-- Character Image -->
	<div class="relative w-fit max-h-full">
		<CharacterImage position={position} />
	</div>
</div>
