---
import { Image } from "astro:assets";
import paty from "../assets/images/global/PATY.png";
import patyAlt from "../assets/images/tiendas/PATY.png";
import firma from "../assets/images/global/Firma Talento.png";
import logoJumex from "../assets/images/global/Logo JUMEX.png";

interface Props {
	position: "left" | "right";
}

const { position } = Astro.props;
---

<div
	class:list={[
		"absolute bottom-0 h-full pointer-events-none z-30 flex flex-col justify-end ",
		{
			"left-0": position === "left",
			"right-0": position === "right",
		},
	]}
>
	<!-- Character Image -->
	<div class="relative max-h-full w-fit">
		<Image
			src={position === "right" ? paty : patyAlt}
			alt="Paty"
			class="h-full w-auto object-contain object-bottom"
		/>

		<!-- Logos at bottom -->
		<div
			class="absolute bottom-8 left-1/2 -translate-x-1/2 hidden md:flex gap-4 items-center"
		>
			<Image src={firma} alt="Firma Talento" height={90} />
			<Image src={logoJumex} alt="Logo JUMEX" height={90} />
		</div>
	</div>
</div>
