---
const whatsappUrl =
	"https://wa.me/5215623196793?text=Me%20gustaria%20participar%20en%20la%20promo%20Una%20Cena%20para%20Fluir%20con%20Paty%20-%20Jumex%C2%AE%20Hydrolit";
---

<a href={whatsappUrl} target="_blank" rel="noopener noreferrer" class="block">
	<slot />
</a>
